<div class="results">
  <%= render 'layouts/messages' %>
</div>
<% if @friends %>
  <div class="card card-header results">
  <table class="col-md-12">
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><strong> Name: </strong> <%= friend.full_name %></td>
          <td><strong> Email: </strong> <%= friend.email %></td>
          <td><strong> Profile: </strong> <%= link_to "View profile", '#',
                                          class: "btn btn-sm btn-success"%>
          <% if current_user.not_friends_with?(friend.id) %>
            <%= link_to 'Follow friend?', '#', class: "btn btn-sm btn-success", method: :post %></td>
          <% else %>
            <span class="badge badge-secondary">
              You are friends
            </span>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>
